@charset "UTF-8";
@media (max-width: 1120px) {
  .container {
    padding: 0 27px;
  }
  .header__item + .header__item {
    margin-left: 20px;
  }
  .hero__inner {
    margin-left: 43px;
  }
  .hero__title-img {
    width: 593px;
  }
  .features {
    margin-top: 110px;
  }
  .features__inner,
  .steps__inner,
  .possibs__inner {
    padding-left: 0;
  }
  .title::before {
    top: -70px;
    left: 0;
  }
  .features__item + .features__item {
    margin-left: 35px;
  }
  .steps {
    margin-top: 184px;
  }
  .steps__swiper,
  .check__inner,
  .possibs__title,
  .possibs__swiper,
  .feedback__title,
  .feedback__inner,
  .faq__title,
  .faq__items {
    margin-left: 0;
  }
  .steps__inner::before {
    left: -27px;
    width: 110%;
    border-radius: 0;
  }
  .steps__item-figure {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-left: 30px;
    margin-right: -1px;
  }
  .possibs {
    margin-top: 124px;
    padding: 70px 0 40px;
    background-size: cover;
  }
  .possibs__items {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .possibs__img {
    display: none;
  }
  .possibs__btn {
    margin-top: 40px;
    margin-left: 52.5%;
  }
  .feedback {
    margin-top: 224px;
  }
  .cta {
    margin-top: 78px;
    min-height: 802px;
    background-image: url("/images/cta-tablet-bg.png");
  }
  .cta__title {
    width: 427px;
  }
  .cta__text {
    display: none;
  }
  .cta__action,
  .cta__btn {
    margin-left: 226px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .footer__copyright {
    display: none;
  }
  .footer__info {
    margin-left: 170px;
  }
  .footer__link + .footer__link {
    margin-left: 90px;
  }
  .footer__text:last-child {
    margin-left: 185px;
  }
  .footer__copyright--tablet {
    margin-top: 71px;
    padding: 10px 0;
    background-color: #0b0b0c;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 27px;
  }
  .header__nav,
  .header__btn-group {
    display: none;
  }
  .hero__title-img {
    width: 370px;
    margin-left: -25px;
  }
  .hero__title-text {
    font-size: 21px;
    max-width: 453px;
    line-height: 29px;
    letter-spacing: 0;
  }
  .hero__btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__btn-text {
    margin-top: 38px;
    margin-left: 0;
    text-align: left;
  }
  .hero__btn-text::before {
    display: none;
  }
  .header__logo {
    width: 222px;
  }
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 120px;
  }
  .features__item + .features__item {
    margin-left: 0;
    margin-top: 120px;
  }
  .features__item {
    max-width: 100%;
  }
  .steps {
    margin-top: 224px;
  }
  .steps__item-figure {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .steps__item-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .steps__inner::before {
    display: none;
  }
  .steps__item {
    padding-bottom: 104px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .steps__item-wrapper {
    max-width: 100%;
  }
  .steps__item-img {
    width: 300px;
  }
  .steps__item-figure::before {
    width: 322px;
    height: 282px;
    background-size: 322px 282px;
    background-repeat: no-repeat;
    top: -16px;
    left: -15px;
  }
  .steps__number {
    display: none;
  }
  .swiper-controls {
    bottom: 20px;
  }
  .check {
    margin-top: 106px;
    padding: 30px 0;
    background-color: #fff5fd;
  }
  .check__inner {
    padding: 0;
    background-image: none;
    min-height: unset;
  }
  .check__title {
    font-size: 21px;
  }
  .check__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 30px;
  }
  .check__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 260px;
    text-align: center;
  }
  .check__label {
    position: static;
  }
  .check__input {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  .check__btn {
    margin-top: 10px;
    margin-left: 0;
    width: 260px;
  }
  .possibs__items {
    margin-top: 40px;
  }
  .feedback__item {
    display: block;
  }
  .feedback__text {
    margin-left: 0;
  }
  .faq {
    margin-top: 224px;
  }
  .faq__btn {
    content: 'Свернуть';
  }
  .faq__btn {
    display: none;
  }
  .faq__items {
    margin-top: 20px;
  }
  .faq__item {
    padding: 18px 22px;
    width: 100%;
    background-color: #f3f4f5;
    border-radius: 24px;
  }
  .faq__question {
    padding: 0;
    font-size: 18px;
    background-color: transparent;
  }
  .faq__answer {
    padding: 0;
  }
  .faq__item + .faq__item {
    margin-top: 10px;
  }
  .cta {
    background-position: 80% center;
  }
  .cta__action,
  .cta__btn,
  .cta__title {
    margin-left: 0;
  }
  .cta__title {
    width: 300px;
  }
  .cta__action {
    font-size: 21px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
  }
  .footer__logo {
    width: 260px;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 35px;
    margin-left: 0;
  }
  .footer__link--phone {
    width: 100%;
  }
  .footer__row:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__link + .footer__link {
    margin-left: 0;
  }
  .footer__row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 35px;
  }
  .footer__text:last-child {
    margin-bottom: 35px;
    margin-left: 0;
  }
  .footer__copyright--tablet {
    margin-top: 64px;
    padding: 35px 0;
  }
  .footer__link:first-child {
    position: relative;
    margin-right: 40px;
  }
  .footer__link:first-child::after {
    position: absolute;
    content: '';
    width: 1px;
  }
}

@media (max-width: 768px) {
  .possibs {
    background-image: none;
  }
  .possibs__btn {
    margin: 0 auto;
    margin-top: 40px;
  }
}
