@charset "UTF-8";
@media (max-width: 1120px) {
  .container {
    padding: 0 27px;
  }
  .header__item + .header__item {
    margin-left: 20px;
  }
  .hero__inner {
    margin-left: 43px;
  }
  .hero__title-img {
    width: 593px;
  }
  .features {
    margin-top: 110px;
  }
  .features__inner,
  .steps__inner,
  .possibs__inner {
    padding-left: 0;
  }
  .title::before {
    top: -70px;
    left: 0;
  }
  .features__item + .features__item {
    margin-left: 35px;
  }
  .steps {
    margin-top: 184px;
  }
  .steps__swiper,
  .check__inner,
  .possibs__title,
  .possibs__swiper,
  .feedback__title,
  .feedback__inner,
  .faq__title,
  .faq__items {
    margin-left: 0;
  }
  .steps__inner::before {
    left: -27px;
    width: 110%;
    border-radius: 0;
  }
  .steps__item-figure {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-left: 30px;
    margin-right: -1px;
  }
  .possibs {
    margin-top: 124px;
    padding: 70px 0 40px;
    background-size: cover;
  }
  .possibs__items {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .possibs__img {
    display: none;
  }
  .possibs__btn {
    margin-top: 40px;
    margin-left: 52.5%;
  }
  .feedback {
    margin-top: 224px;
  }
  .cta {
    margin-top: 78px;
    min-height: 802px;
    background-image: url("/images/cta-tablet-bg.png");
  }
  .cta__title {
    width: 427px;
  }
  .cta__text {
    display: none;
  }
  .cta__action,
  .cta__btn {
    margin-left: 226px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .footer__copyright {
    display: none;
  }
  .footer__info {
    margin-left: 170px;
  }
  .footer__link + .footer__link {
    margin-left: 90px;
  }
  .footer__text:last-child {
    margin-left: 185px;
  }
  .footer__copyright--tablet {
    margin-top: 71px;
    padding: 10px 0;
    background-color: #0b0b0c;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 45px;
  }
  .title {
    font-size: 27px;
  }
  .header {
    padding: 16px 0;
    border: none;
  }
  .header__line-mobile {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 45px;
    height: 100%;
    background-color: rgba(33, 34, 36, 0.6);
    z-index: 6;
  }
  .header__logo--invisible {
    display: none;
  }
  .header__logo-menu {
    display: none;
  }
  .header__logo-menu--visible {
    padding-left: 40px;
    display: block;
  }
  .header__line-mobile--visible {
    display: block;
  }
  .header__nav,
  .header__btn-group {
    display: none;
  }
  .header__mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px solid #dce0e3;
    border-radius: 12px;
    cursor: pointer;
  }
  .header__mobile-line {
    width: 16px;
    height: 2px;
    background: #161718;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 5;
  }
  .header__mobile-line + .header__mobile-line {
    margin-top: 3px;
  }
  .header__mobile-line--active:first-child {
    -webkit-transform: rotate(45deg) translateX(4px) translateY(3px);
            transform: rotate(45deg) translateX(4px) translateY(3px);
  }
  .header__mobile-line--active:nth-child(2) {
    opacity: 0;
  }
  .header__mobile-line--active:last-child {
    -webkit-transform: rotate(-45deg) translateX(4px) translateY(-3px);
            transform: rotate(-45deg) translateX(4px) translateY(-3px);
  }
  .header__nav--visible {
    display: block;
    position: fixed;
    top: 74px;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 85px;
    padding-right: 45px;
    padding-top: 21px;
    width: 100%;
    background: #fff;
    z-index: 5;
  }
  .header__btn-group--visible {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 85px;
    padding-right: 45px;
    z-index: 6;
  }
  .header__btn-group--visible .header__btn {
    width: 100%;
    padding: 19px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__item + .header__item {
    margin-left: 0;
    margin-top: 24px;
  }
  .header__btn + .header__btn {
    margin-left: 0;
  }
  .header__btn:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
  }
  .header__btn:last-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background: radial-gradient(130% 360.75% at -19.8% -19.8%, #fcb045 17.75%, #fd1d1d 28.91%, #833ab4 55%);
    border: none;
    background-size: 200% 200%;
    color: #fff;
  }
  .header__btn--mobile {
    display: block;
    margin-top: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero {
    background-position: 60% 0;
  }
  .hero__title-img {
    width: 335px;
    margin-left: -25px;
  }
  .hero__title-text {
    font-size: 21px;
    max-width: 375px;
    line-height: 29px;
    letter-spacing: 0;
  }
  .hero__btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__btn-text {
    margin-top: 38px;
    margin-left: 0;
    text-align: left;
  }
  .hero__btn-text::before {
    display: none;
  }
  .header__logo {
    width: 222px;
  }
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 120px;
  }
  .features__item + .features__item {
    margin-left: 0;
    margin-top: 120px;
  }
  .features__item {
    max-width: 100%;
  }
  .steps {
    margin-top: 224px;
  }
  .steps__item-figure {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .steps__item-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .steps__inner::before {
    display: none;
  }
  .steps__item {
    padding-bottom: 104px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .steps__item-wrapper {
    max-width: 100%;
  }
  .steps__item-img {
    width: 300px;
  }
  .steps__item-figure::before {
    width: 322px;
    height: 282px;
    background-size: 322px 282px;
    background-repeat: no-repeat;
    top: -16px;
    left: -15px;
  }
  .steps__number {
    display: none;
  }
  .swiper-controls {
    bottom: 20px;
  }
  .check {
    margin-top: 106px;
    padding: 116px 0 99px;
    background-image: url("/images/check-mobile-bg.svg");
    background-size: 100% 100%;
  }
  .check__inner {
    padding: 0;
    background-image: none;
    min-height: unset;
  }
  .check__title {
    font-size: 21px;
  }
  .check__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 30px;
  }
  .check__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 260px;
    text-align: center;
  }
  .check__label {
    position: static;
  }
  .check__input {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  .check__btn {
    margin-top: 10px;
    margin-left: 0;
    width: 260px;
  }
  .found__btn {
    display: none;
  }
  .found__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .check__results-wrapper {
    z-index: 3;
  }
  .possibs__items {
    margin-top: 40px;
  }
  .feedback__item {
    display: block;
  }
  .feedback__text {
    margin-left: 0;
  }
  .faq {
    margin-top: 224px;
  }
  .faq__btn {
    content: 'Свернуть';
  }
  .faq__btn {
    display: none;
  }
  .faq__items {
    margin-top: 20px;
  }
  .faq__item {
    padding: 18px 22px;
    width: 100%;
    background-color: #f3f4f5;
    border-radius: 24px;
  }
  .faq__question {
    padding: 0;
    font-size: 18px;
    background-color: transparent;
  }
  .faq__answer {
    padding: 0;
  }
  .faq__item + .faq__item {
    margin-top: 10px;
  }
  .faq__btn--mobile {
    display: block;
    margin-top: 20px;
    color: #397dff;
  }
  .cta {
    background-position: 80% center;
  }
  .cta__action,
  .cta__btn,
  .cta__title {
    margin-left: 0;
  }
  .cta__title {
    width: 300px;
  }
  .cta__action {
    font-size: 21px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
  }
  .footer__logo {
    width: 260px;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 35px;
    margin-left: 0;
    font-size: 13px;
  }
  .footer__link--phone {
    margin-top: 35px;
    width: 100%;
  }
  .footer__row:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__link + .footer__link {
    margin-left: 0;
  }
  .footer__row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 35px;
  }
  .footer__text:last-child {
    margin-bottom: 35px;
    margin-left: 0;
  }
  .footer__copyright--tablet {
    margin-top: 64px;
    padding: 35px 0;
  }
  .footer__link:first-child {
    position: relative;
    margin-right: 40px;
  }
  .footer__link:first-child::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #397dff;
    right: -20px;
    top: 3px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 55px;
    padding-bottom: 132px;
    background-image: url("/images/hero-bg-mobile.svg");
    background-position: 0px -30px;
    background-size: 100% 100%;
  }
  .hero__inner {
    margin-left: 0;
    text-align: center;
  }
  .hero__inner * {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title-img {
    display: none;
  }
  .hero__title-img--mobile {
    position: relative;
    display: block;
    width: 274px;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    z-index: 3;
  }
  .hero__title-text {
    position: relative;
    display: block;
    max-width: 300px;
    z-index: 2;
  }
  .hero__btn {
    display: none;
  }
  .hero__btn--mobile {
    display: block;
  }
  .hero__btn-group {
    margin-top: -30px;
  }
  .hero__phone--mobile {
    display: block;
    margin-top: -10px;
    z-index: -1;
  }
  .possibs {
    background-image: none;
  }
  .possibs__btn {
    margin: 0 auto;
    margin-top: 40px;
  }
  .steps__item-figure {
    margin: 0;
    -webkit-margin-start: 18px;
            margin-inline-start: 18px;
  }
  .steps__item {
    padding-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .possibs__inner {
    display: block;
  }
  .possibs__items {
    -webkit-column-count: 1;
            column-count: 1;
    background-color: #fff;
  }
  .possibs__item {
    background-color: #fff;
  }
  .possibs__item + .possibs__item {
    margin: 0;
  }
  .possibs__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 40px;
  }
  .possibs__btn-next {
    margin-left: 12px;
  }
  .possibs__btn-prev,
  .possibs__btn-next {
    position: static;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
            box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .possibs__btn-prev:hover,
  .possibs__btn-next:hover {
    background-color: #397dff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .possibs__item.swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
  }
  .possibs__btn-prev:hover img,
  .possibs__btn-next:hover img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .possibs {
    padding-bottom: 0;
  }
  .faq {
    margin-top: 284px;
  }
  .feedback__controls {
    top: unset;
    right: unset;
    left: 0;
    bottom: -80px;
  }
  .cta {
    margin-top: 34px;
    padding-top: 287px;
    padding-bottom: 226px;
    background-image: url("/images/cta-mobile-bg.png");
    background-position: 65% center;
  }
  .cta__title {
    display: block;
    margin-top: 0;
    -webkit-filter: drop-shadow(3px 2px 0px #ff4b88);
            filter: drop-shadow(3px 2px 0px #ff4b88);
  }
  .cta__action {
    display: inline;
    padding-right: 30px;
    background-color: rgba(22, 23, 24, 0.6);
    -webkit-box-shadow: -10px 0 0 rgba(22, 23, 24, 0.6), 10px 0 0 rgba(22, 23, 24, 0.6);
            box-shadow: -10px 0 0 rgba(22, 23, 24, 0.6), 10px 0 0 rgba(22, 23, 24, 0.6);
    line-height: 1.36;
  }
}

@media (max-width: 568px) {
  .steps__item-img {
    width: 200px;
  }
  .steps__item-figure {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .steps__item-figure::before {
    width: 215px;
    height: 189px;
    background-size: 215px 189px;
    background-repeat: no-repeat;
    top: -11px;
    left: -10px;
  }
  .check__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .check__info-numbers {
    margin-top: 10px;
  }
  .check__info-btn {
    width: 100%;
    padding: 20px;
    font-size: 12px;
  }
  .modal {
    padding: 15px;
    max-width: 95%;
  }
  .close__btn {
    right: 0;
    top: 0;
  }
  .form__submit-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 10px;
  }
  .form__link {
    margin-left: 0;
    margin-top: 5px;
  }
  .modal__text {
    margin-top: 10px;
  }
  .social {
    margin-top: 10px;
  }
}

@media (max-width: 370px) {
  .btn {
    padding: 20px;
    font-size: 13px;
  }
  .header__logo {
    width: 170px;
  }
  .cta__title {
    width: 100%;
  }
}
