@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Semibold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-Semibold.woff2") format("woff2"), url("/fonts/Montserrat-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("/fonts/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "MontserratAlternates-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("/fonts/MontserratAlternates-Medium.woff") format("woff");
}

@font-face {
  font-family: "MontserratAlternates-Semibold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/MontserratAlternates-Semibold.woff2") format("woff2"), url("/fonts/MontserratAlternates-Semibold.woff") format("woff");
}

body, .possibs__item--soon {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.feedback__author-name, .faq__question, .footer__link, .footer__copyright {
  font-family: 'Montserrat-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.features__item-title, .possibs__item-title {
  font-family: 'Montserrat-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.btn, .hero__btn-text--bold, .steps__number,
.steps__item-title, .swiper-pagination-bullet, .check__btn {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.hero__title, .cta__action {
  font-family: 'MontserratAlternates-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.title {
  font-family: 'MontserratAlternates-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.73;
  color: #72777c;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 36px 21px;
  background: radial-gradient(130% 360.75% at -19.8% -19.8%, #fcb045 17.75%, #fd1d1d 28.91%, #833ab4 55%);
  background-size: 200% 200%;
  -webkit-box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
          box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
}

.btn:hover {
  background-position: 100% 0;
}

.title {
  position: relative;
  max-width: 763px;
  font-size: 35px;
  line-height: 1.46;
  color: #161718;
  z-index: 1;
}

.title::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 62px;
  top: -3px;
  left: -77px;
  z-index: -1;
}

.header {
  padding: 23px 0 24px;
  border-bottom: 1px solid rgba(22, 23, 24, 0.35);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #161718;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item + .header__item {
  margin-left: 42px;
}

.header__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #397dff;
}

.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  padding: 8px 26px;
  text-align: center;
  border: 1px solid #dce0e3;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn + .header__btn {
  margin-left: 10px;
}

.header__btn:hover {
  background-color: #397dff;
  color: #fff;
  border: 1px solid #397dff;
}

.hero {
  padding-top: 126px;
  padding-bottom: 212px;
  background-image: url("/images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero__inner {
  margin-left: 77px;
}

.hero__title {
  color: #161718;
}

.hero__title-img {
  display: block;
  margin-bottom: -13px;
  margin-left: -44px;
}

.hero__title-text {
  display: block;
  max-width: 545px;
  font-size: 26px;
  line-height: 1.69;
  letter-spacing: 0.04em;
}

.hero__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 37px;
}

.hero__btn-text {
  position: relative;
  display: block;
  margin-left: 57px;
  max-width: 188px;
  text-align: right;
  font-size: 11px;
  line-height: 1.36;
  color: #161718;
  z-index: 1;
}

.hero__btn-text::before {
  position: absolute;
  top: -9px;
  left: -27px;
  content: '';
  width: 218px;
  height: 62px;
  background-image: url("/images/hero-span.svg");
  z-index: -1;
}

.hero__btn-text--bold {
  display: block;
}

.features {
  margin-top: 29px;
}

.features__inner {
  padding-left: 77px;
}

.features__title::before {
  background-image: url("/images/features-title.png");
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 106px;
}

.features__item {
  max-width: 300px;
}

.features__item + .features__item {
  margin-left: 100px;
}

.features__item-title {
  position: relative;
  font-size: 20px;
  line-height: 1.45;
  color: #161718;
}

.features__item-title::before {
  position: absolute;
  content: '';
  width: 128px;
  height: 102px;
  top: -80px;
  left: -20px;
  z-index: -1;
}

.features__item:first-child .features__item-title::before {
  background-image: url("/images/features-item-1.png");
}

.features__item:nth-child(2) .features__item-title::before {
  background-image: url("/images/features-item-2.png");
}

.features__item:last-child .features__item-title::before {
  background-image: url("/images/features-item-3.png");
}

.features__item-text {
  margin-top: 12px;
}

.steps {
  margin-top: 103px;
}

.steps__inner::before {
  position: absolute;
  content: '';
  width: 1475px;
  height: 478px;
  bottom: 90px;
  left: 77px;
  background-image: url("/images/steps-bg.svg");
  background-size: contain;
}

.steps__swiper {
  margin-left: 70px;
}

.steps__inner {
  position: relative;
  overflow: visible;
  padding-left: 77px;
}

.steps__title::before {
  background-image: url("/images/steps-title.png");
}

.steps__text {
  margin-top: 12px;
  max-width: 588px;
}

.steps__swiper {
  margin-top: 32px;
}

.steps__item {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__item-wrapper {
  margin-top: 40px;
  max-width: 400px;
}

.steps__number,
.steps__item-title {
  font-size: 26px;
  line-height: 1.46;
}

.steps__number {
  color: #397dff;
}

.steps__item-title {
  margin-top: 10px;
  color: #161718;
}

.steps__item-text {
  margin-top: 14px;
}

.steps__item-img {
  display: block;
  width: 570px;
  border-radius: 26px 26px 26px 26px;
  -webkit-box-shadow: 0px 10px 25px rgba(153, 160, 185, 0.35);
          box-shadow: 0px 10px 25px rgba(153, 160, 185, 0.35);
}

.steps__item-figure {
  position: relative;
}

.steps__item-figure::before {
  position: absolute;
  content: '';
  width: 612px;
  height: 536px;
  top: -31px;
  left: -28px;
  background-image: url("/images/steps-line.svg");
  z-index: 1;
}

.swiper {
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.swiper-controls {
  position: absolute;
  left: 0;
  bottom: 68px;
  z-index: 1;
}

.swiper-pagination {
  position: static;
  display: inline-block;
}

.swiper-pagination-bullet {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 15px;
  color: #72777c;
  opacity: 1;
  background: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-pagination-bullet:hover {
  background: #f3f4f5;
  -webkit-box-shadow: 0px 2px 5px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 2px 5px rgba(158, 153, 185, 0.25);
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  color: #fff;
  background: #397dff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #397dff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  font-size: 0;
}

.swiper-button-prev:hover img,
.swiper-button-next:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.check {
  margin-top: 125px;
}

.check__inner {
  margin-left: 77px;
  padding: 159px 140px 159px 107px;
  background-image: url("/images/check-bg.svg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.check__title {
  margin: 0 auto;
  max-width: 652px;
  text-align: center;
  font-size: 26px;
  line-height: 1.46;
}

.check__title--purple {
  color: #5839ff;
}

.check__inner--done {
  display: none;
}

.check__process {
  display: none;
}

.check__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 31px;
}

.check__input {
  padding: 16px;
  width: 399px;
  height: 56px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
}

.check__input::-webkit-input-placeholder {
  color: #72777c;
}

.check__input:-ms-input-placeholder {
  color: #72777c;
}

.check__input::-ms-input-placeholder {
  color: #72777c;
}

.check__input::placeholder {
  color: #72777c;
}

.check__label {
  position: absolute;
  bottom: -38px;
  left: 140px;
  color: #161718;
}

.check__btn {
  margin-left: 20px;
  padding: 17px 38px;
  width: 173px;
  height: 56px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: #fff;
  background: radial-gradient(130% 360.75% at -19.8% -19.8%, #fcb045 17.75%, #fd1d1d 28.91%, #833ab4 55%);
  background-size: 200% 200%;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
  -webkit-box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
          box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.check__btn:disabled {
  background: #d9ccde;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #72777c;
  cursor: not-allowed;
}

.check__btn:disabled:hover {
  background: #d9ccde;
}

.check__btn:hover {
  background-position: 100% 0;
}

.possibs {
  margin-top: 109px;
  background-image: url("/images/possibilities-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1950px) {
  .possibs {
    padding: 40px 0;
    background-image: none;
    background-color: #fff3ef;
  }
}

.possibs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-left: 77px;
}

.possibs__title {
  margin-left: 77px;
}

.possibs__title::before {
  background-image: url("/images/possibilities-title.png");
}

.possibs__swiper {
  margin-left: 50px;
}

.possibs__img {
  display: block;
  width: 289px;
}

.possibs__items {
  margin-top: 56px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.possibs__item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.possibs__item + .possibs__item {
  margin-top: 34px;
}

.possibs__item-title {
  position: relative;
  color: #161718;
  font-size: 20px;
  line-height: 1.45;
}

.possibs__item-text {
  margin-top: 12px;
}

.possibs__item--soon {
  position: absolute;
  top: -7px;
  right: 0;
  color: #5839ff;
  font-size: 15px;
}

.possibs__btn {
  margin-top: 68px;
}

.feedback {
  margin-top: 143px;
}

.feedback__title,
.feedback__inner {
  margin-left: 77px;
}

.feedback__inner {
  margin-top: 59px;
}

.feedback__title::before {
  background-image: url("/images/feedback-title.png");
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feedback__text {
  margin-top: 15px;
  margin-left: 30px;
  max-width: 700px;
}

.feedback__author-name {
  font-size: 26px;
  line-height: 1.46;
  color: #161718;
}

.feedback__author-text {
  margin-top: 14px;
}

.feedback__figure {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback__author-img {
  width: 66px;
  margin-top: -25%;
}

.faq {
  margin-top: 143px;
}

.faq__title,
.faq__items {
  margin-left: 77px;
}

.faq__title::before {
  background-image: url("/images/faq-title.png");
}

.faq__items {
  margin-top: 30px;
}

.faq__question {
  position: relative;
  margin-top: 20px;
  padding: 18px 100px 18px 40px;
  width: 100%;
  background-color: #f3f4f5;
  border-radius: 24px;
  font-size: 20px;
  line-height: 1.45;
  color: #161718;
  cursor: pointer;
}

.faq__question::before {
  position: absolute;
  content: '';
  width: 44px;
  height: 44px;
  right: 30px;
  top: 10px;
  background-image: url("/images/faq-arrow.svg");
  background-position: center;
}

.faq__answer {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 114px;
  color: #161718;
}

.cta {
  margin-top: 106px;
  padding-bottom: 240px;
  min-height: 890px;
  background-image: url("/images/cta-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.cta__text {
  padding-top: 50px;
  margin-left: 118px;
  color: #161718;
}

.cta__title {
  margin-top: 301px;
  margin-left: 43px;
}

.cta__action,
.cta__btn {
  margin-left: 270px;
}

.cta__action {
  margin-top: 3px;
  max-width: 373px;
  font-size: 26px;
  line-height: 1.46;
  color: #fff;
}

.cta__btn {
  margin-top: 37px;
  background: radial-gradient(100% 207.05% at 0% 0%, #ffffff 0%, #ffbf65 50%);
  background-size: 200% 200%;
  -webkit-transition: background-position 0.7s;
  transition: background-position 0.7s;
  color: #161718;
}

.cta__btn:hover {
  background-position: 100% 0;
}

.footer {
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #161718;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__info {
  margin-left: 100px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__row + .footer__row {
  margin-top: 7px;
}

.footer__link {
  font-size: 13px;
  line-height: 2.15;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #397dff;
}

.footer__link + .footer__link {
  margin-left: 60px;
}

.footer__copyright {
  margin-left: 154px;
  font-size: 13px;
  line-height: 2.15;
}

.footer__text {
  font-size: 10px;
  line-height: 2;
}

.footer__text:last-child {
  margin-left: 123px;
}

.footer__address {
  font-style: normal;
}
