@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Semibold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-Semibold.woff2") format("woff2"), url("/fonts/Montserrat-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("/fonts/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "MontserratAlternates-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("/fonts/MontserratAlternates-Medium.woff") format("woff");
}

@font-face {
  font-family: "MontserratAlternates-Semibold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/MontserratAlternates-Semibold.woff2") format("woff2"), url("/fonts/MontserratAlternates-Semibold.woff") format("woff");
}

.found__name, .found__btn, .check__account-name,
.check__info-text, .modal {
  font-family: 'Roboto-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.found__login, .check__account, .check__info-numbers {
  font-family: 'Roboto-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.modal__title {
  font-family: 'Roboto-Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
}

body, .check__input::-webkit-input-placeholder, .possibs__item--soon {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body, .check__input:-ms-input-placeholder, .possibs__item--soon {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body, .check__input::-ms-input-placeholder, .possibs__item--soon {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body, .check__input::placeholder, .possibs__item--soon {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.feedback__author-name, .faq__question, .footer__link, .footer__copyright {
  font-family: 'Montserrat-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.features__item-title, .check__input, .possibs__item-title {
  font-family: 'Montserrat-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.btn, .hero__btn-text--bold, .steps__number,
.steps__item-title, .swiper-pagination-bullet, .check__btn {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.hero__title, .cta__action {
  font-family: 'MontserratAlternates-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.title {
  font-family: 'MontserratAlternates-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.page--disabled {
  overflow-y: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.73;
  color: #72777c;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 36px 21px;
  background: radial-gradient(130% 360.75% at -19.8% -19.8%, #fcb045 17.75%, #fd1d1d 28.91%, #833ab4 55%);
  background-size: 200% 200%;
  -webkit-box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
          box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn:hover {
  background-position: 100% 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.title {
  position: relative;
  max-width: 763px;
  font-size: 35px;
  line-height: 1.46;
  color: #161718;
  z-index: 1;
}

.title::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 62px;
  top: -3px;
  left: -77px;
  z-index: -1;
}

.header {
  padding: 23px 0 24px;
  border-bottom: 1px solid rgba(22, 23, 24, 0.35);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #161718;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item + .header__item {
  margin-left: 42px;
}

.header__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #397dff;
}

.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  padding: 8px 26px;
  text-align: center;
  border: 1px solid #dce0e3;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn + .header__btn {
  margin-left: 10px;
}

.header__btn:hover {
  background-color: #397dff;
  color: #fff;
  border: 1px solid #397dff;
}

.hero {
  padding-top: 126px;
  padding-bottom: 212px;
  background-image: url("/images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero__inner {
  margin-left: 77px;
}

.hero__title {
  color: #161718;
}

.hero__title-img {
  display: block;
  margin-bottom: -13px;
  margin-left: -44px;
}

.hero__title-text {
  display: block;
  max-width: 545px;
  font-size: 26px;
  line-height: 1.69;
  letter-spacing: 0.04em;
}

.hero__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 37px;
}

.hero__btn-text {
  position: relative;
  display: block;
  margin-left: 57px;
  max-width: 188px;
  text-align: right;
  font-size: 11px;
  line-height: 1.36;
  color: #161718;
  z-index: 1;
}

.hero__btn-text::before {
  position: absolute;
  top: -9px;
  left: -27px;
  content: '';
  width: 218px;
  height: 62px;
  background-image: url("/images/hero-span.svg");
  z-index: -1;
}

.hero__btn-text--bold {
  display: block;
}

.features {
  margin-top: 29px;
}

.features__inner {
  padding-left: 77px;
}

.features__title::before {
  background-image: url("/images/features-title.png");
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 106px;
}

.features__item {
  max-width: 300px;
}

.features__item + .features__item {
  margin-left: 100px;
}

.features__item-title {
  position: relative;
  font-size: 20px;
  line-height: 1.45;
  color: #161718;
}

.features__item-title::before {
  position: absolute;
  content: '';
  width: 128px;
  height: 102px;
  top: -80px;
  left: -20px;
  z-index: -1;
}

.features__item:first-child .features__item-title::before {
  background-image: url("/images/features-item-1.png");
}

.features__item:nth-child(2) .features__item-title::before {
  background-image: url("/images/features-item-2.png");
}

.features__item:last-child .features__item-title::before {
  background-image: url("/images/features-item-3.png");
}

.features__item-text {
  margin-top: 12px;
}

.steps {
  margin-top: 103px;
}

.steps__inner::before {
  position: absolute;
  content: '';
  width: 1475px;
  height: 478px;
  bottom: 60px;
  left: 77px;
  background-color: #f1f3ff;
  border-radius: 56px 0 0 56px;
  background-size: contain;
}

@media (min-width: 1921px) {
  .steps__inner::before {
    width: 2000px;
  }
}

.steps__swiper {
  margin-top: 25px;
  margin-left: 70px;
}

.steps__inner {
  position: relative;
  overflow: visible;
  padding-left: 77px;
}

.steps__title::before {
  background-image: url("/images/steps-title.png");
}

.steps__text {
  margin-top: 12px;
  max-width: 588px;
}

.steps__item {
  padding: 30px 0;
  margin: -10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__item-wrapper {
  margin-top: 40px;
  max-width: 400px;
}

.steps__number,
.steps__item-title {
  font-size: 26px;
  line-height: 1.46;
}

.steps__number {
  color: #397dff;
}

.steps__item-title {
  margin-top: 10px;
  color: #161718;
}

.steps__item-text {
  margin-top: 14px;
}

.steps__item-img {
  display: block;
  width: 570px;
  border-radius: 26px 26px 26px 26px;
  -webkit-box-shadow: 0px 10px 25px rgba(153, 160, 185, 0.35);
          box-shadow: 0px 10px 25px rgba(153, 160, 185, 0.35);
}

.steps__item-figure {
  position: relative;
}

.steps__item-figure::before {
  position: absolute;
  content: '';
  width: 612px;
  height: 536px;
  top: -31px;
  left: -29px;
  background-image: url("/images/steps-line.svg");
  z-index: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-controls {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 1;
}

.swiper-pagination {
  position: static;
  display: inline;
}

.swiper-pagination-bullet {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 15px;
  color: #72777c;
  opacity: 1;
  background: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-pagination-bullet:hover {
  background: #f3f4f5;
  -webkit-box-shadow: 0px 2px 5px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 2px 5px rgba(158, 153, 185, 0.25);
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  color: #fff;
  background: #397dff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #397dff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  font-size: 0;
}

.swiper-button-prev:hover img,
.swiper-button-next:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.check {
  margin-top: 125px;
}

.check__inner {
  width: 970px;
  max-width: 100%;
  min-height: 448px;
  margin-left: 77px;
  padding-top: 140px;
  background-image: url("/images/check-bg.svg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.check__title {
  margin: 0 auto;
  max-width: 652px;
  text-align: center;
  font-size: 26px;
  line-height: 1.46;
}

.check__title--purple {
  color: #5839ff;
}

.check__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 31px;
  padding: 16px;
  width: 592px;
  max-width: 100%;
  background: #ffffff;
  color: #161718;
  border-radius: 12px;
}

.check__img {
  margin: -16px;
}

.check__process-loader {
  margin-right: 10px;
}

.check__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 31px;
}

.check__form-wrapper {
  position: relative;
}

.check__loader--purple {
  position: absolute;
  display: none;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check__loader--gray {
  margin: -12px;
  padding-right: 8px;
}

.check__loader--visible {
  display: block;
}

.check__loader img {
  display: block;
}

.check__input {
  padding: 16px;
  width: 399px;
  height: 56px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  outline: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.check__input::-webkit-input-placeholder {
  color: #72777c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check__input:-ms-input-placeholder {
  color: #72777c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check__input::-ms-input-placeholder {
  color: #72777c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check__input::placeholder {
  color: #72777c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check__input:hover::-webkit-input-placeholder {
  color: #161718;
}

.check__input:hover:-ms-input-placeholder {
  color: #161718;
}

.check__input:hover::-ms-input-placeholder {
  color: #161718;
}

.check__input:hover::placeholder {
  color: #161718;
}

.check__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.check__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.check__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.check__input:focus::placeholder {
  opacity: 0;
}

.check__label {
  position: absolute;
  display: block;
  bottom: -38px;
  left: 12px;
  color: #161718;
}

.check__results-wrapper {
  position: absolute;
  top: calc(100% + 8px);
  padding: 10px 16px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
          box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
}

.check__result {
  padding: 12px 0;
  line-height: 25px;
}

.check__result--searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.found__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

.found__item--add {
  opacity: 0.7;
}

.found__item--add .found__btn {
  opacity: 1;
  background-color: #dce0e3;
  color: #93999e;
}

.found__item + .found__item {
  margin-top: 12px;
}

.found__img {
  width: 46px;
  border-radius: 50%;
}

.found__text {
  margin-left: 10px;
}

.found__login {
  color: #161718;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.found__name {
  font-size: 13px;
  line-height: 1.46;
}

.found__item:hover .found__login {
  color: #397dff;
}

.found__btn {
  opacity: 0;
  padding: 6px 10px;
  margin-left: auto;
  background: #397dff;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.found__item:hover .found__btn {
  opacity: 1;
}

.check__btn {
  margin-left: 20px;
  padding: 17px 38px;
  width: 173px;
  height: 56px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: #fff;
  background: radial-gradient(130% 360.75% at -19.8% -19.8%, #fcb045 17.75%, #fd1d1d 28.91%, #833ab4 55%);
  background-size: 200% 200%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
          box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.check__btn:disabled {
  background: #d9ccde;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #72777c;
  cursor: not-allowed;
}

.check__btn:disabled:hover {
  background: #d9ccde;
}

.check__btn:hover {
  background-position: 100% 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.check__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 592px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
}

.check__info-img {
  border-radius: 50%;
}

.check__info-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.check__account {
  display: block;
  margin-left: 10px;
  color: #161718;
  line-height: 2;
}

.check__account-name,
.check__info-text {
  display: block;
  color: #72777c;
  font-size: 13px;
  line-height: 1;
}

.check__info-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #161718;
  font-size: 20px;
  line-height: 31px;
}

.check__info-text {
  max-width: 64px;
  line-height: 1.2;
  font-size: 10px;
}

.check__info-item + .check__info-item {
  margin-left: 57px;
}

.check__info-btn {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.possibs {
  margin-top: 109px;
  background-image: url("/images/possibilities-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1950px) {
  .possibs {
    padding: 40px 0;
    background-image: none;
    background-color: #fff3ef;
  }
}

.possibs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-left: 77px;
}

.possibs__title {
  margin-left: 77px;
}

.possibs__title::before {
  background-image: url("/images/possibilities-title.png");
}

.possibs__swiper {
  margin-left: 50px;
}

.possibs__img {
  display: block;
  width: 289px;
}

.possibs__items {
  margin-top: 56px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.possibs__item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.possibs__item + .possibs__item {
  margin-top: 34px;
}

.possibs__item-title {
  position: relative;
  color: #161718;
  font-size: 20px;
  line-height: 1.45;
}

.possibs__item-text {
  margin-top: 12px;
}

.possibs__item--soon {
  position: absolute;
  top: -7px;
  right: 0;
  color: #5839ff;
  font-size: 15px;
}

.possibs__btn {
  margin-top: 68px;
}

.feedback {
  margin-top: 143px;
}

.feedback__title,
.feedback__inner {
  margin-left: 77px;
}

.feedback__inner {
  position: relative;
  margin-top: 59px;
}

.feedback__title::before {
  background-image: url("/images/feedback-title.png");
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feedback__text {
  margin-top: 15px;
  margin-left: 30px;
  max-width: 700px;
}

.feedback__author-name {
  font-size: 26px;
  line-height: 1.46;
  color: #161718;
}

.feedback__author-text {
  margin-top: 14px;
}

.feedback__figure {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback__author-img {
  width: 66px;
  margin-top: -25%;
}

.feedback__controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.feedback-button-prev,
.feedback-button-next {
  position: static;
  display: inline-block;
  padding: 16px 17px;
  width: 44px;
  height: 44px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  background: #ebeff3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.feedback-button-prev {
  padding-right: 19px;
}

.feedback-button-next {
  margin-left: 12px;
  padding-left: 19px;
}

.feedback-button-prev:hover,
.feedback-button-next:hover {
  background-color: #397dff;
}

.feedback-button-prev:hover img,
.feedback-button-next:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.faq {
  margin-top: 143px;
}

.faq__title,
.faq__items {
  margin-left: 77px;
}

.faq__title::before {
  background-image: url("/images/faq-title.png");
}

.faq__items {
  margin-top: 30px;
}

.faq__item + .faq__item {
  margin-top: 20px;
}

.faq__question {
  position: relative;
  padding: 18px 100px 18px 40px;
  width: 100%;
  background-color: #f3f4f5;
  border-radius: 24px;
  font-size: 20px;
  line-height: 1.45;
  color: #161718;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.faq__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: '';
  width: 44px;
  height: 44px;
  right: 30px;
  top: 10px;
  border: 1px solid #c6cbd0;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.faq__item.is-active .faq__btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__question:hover {
  color: #397dff;
}

.faq__btn svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.faq__question:hover .faq__btn svg path {
  fill: #397dff;
}

.faq__question:hover .faq__btn {
  border: 1px solid #161718;
}

.faq__answer {
  padding-left: 40px;
  padding-right: 114px;
  color: #161718;
}

.faq__answer-text {
  padding-top: 20px;
}

.cta {
  margin-top: 106px;
  padding-bottom: 240px;
  min-height: 890px;
  background-image: url("/images/cta-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.cta__text {
  padding-top: 50px;
  margin-left: 118px;
  color: #161718;
}

.cta__title {
  margin-top: 301px;
  margin-left: 43px;
}

.cta__action,
.cta__btn {
  margin-left: 270px;
}

.cta__action {
  margin-top: 3px;
  max-width: 373px;
  font-size: 26px;
  line-height: 1.46;
  color: #fff;
}

.cta__btn {
  margin-top: 37px;
  background: radial-gradient(100% 207.05% at 0% 0%, #ffffff 0%, #ffbf65 50%);
  background-size: 200% 200%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: #161718;
}

.cta__btn:hover {
  background-position: 100% 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #161718;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__info {
  margin-left: 100px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__row + .footer__row {
  margin-top: 7px;
}

.footer__link {
  font-size: 13px;
  line-height: 2.15;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #397dff;
}

.footer__link + .footer__link {
  margin-left: 60px;
}

.footer__copyright {
  margin-left: 154px;
  font-size: 13px;
  line-height: 2.15;
}

.footer__text {
  font-size: 10px;
  line-height: 2;
}

.footer__text:last-child {
  margin-left: 123px;
}

.footer__address {
  font-style: normal;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 34, 36, 0.8);
  z-index: 4;
  cursor: pointer;
}

.overlay--visible {
  display: block;
}

.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  display: none;
  width: 420px;
  max-width: 100%;
  padding: 40px;
  padding-top: 26px;
  background: #ffffff;
  border-radius: 12px;
  color: #161718;
  font-size: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .modal {
    top: 50px;
  }
}

.modal__register,
.modal__login,
.modal__password,
.modal__feedback {
  display: none;
  position: relative;
}

.modal--visible {
  display: block;
}

.modal__title {
  font-size: 21px;
  line-height: 1.24;
}

.modal__text {
  margin-top: 18px;
}

.form {
  margin-top: 10px;
}

.form--login {
  margin-top: 18px;
}

.form__row + .form__row {
  margin-top: 4px;
}

.form__label {
  display: block;
  font-size: 11px;
  color: #72777c;
}

.form__input,
.form__textarea {
  margin-top: 4px;
  padding: 15px;
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #dce0e3;
  border-radius: 5px;
  outline: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #161718;
}

.form__input::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder {
  color: #161718;
}

.form__input:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder {
  color: #161718;
}

.form__input::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder {
  color: #161718;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #161718;
}

.form__textarea {
  height: 120px;
  resize: none;
}

.form__submit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 24px;
}

.form__btn {
  padding: 12px 24px;
  width: 195px;
  height: 56px;
  background: #397dff;
  border-radius: 8px;
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.form__btn:hover {
  background-color: rgba(57, 125, 255, 0.8);
}

.form__btn--login,
.form__btn--feedback {
  width: 160px;
}

.form__btn--password {
  width: 201px;
}

.form__link {
  margin-left: 20px;
  color: #397dff;
  cursor: pointer;
  font-size: 13px;
}

.social {
  margin-top: 36px;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 14px;
}

.social__img {
  display: block;
}

.form__item + .form__item {
  margin-left: 36px;
}

.close__btn {
  position: absolute;
  right: -26px;
  top: -14px;
  cursor: pointer;
}

.form__row--password {
  position: relative;
}

.form__label--password {
  position: absolute;
  display: block;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
}

.form__label--password img {
  display: block;
}

.see-password.hidden,
.hide-password.hidden {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 1120px) {
  .container {
    padding: 0 27px;
  }
  .header__item + .header__item {
    margin-left: 20px;
  }
  .hero__inner {
    margin-left: 43px;
  }
  .hero__title-img {
    width: 593px;
  }
  .features {
    margin-top: 110px;
  }
  .features__inner,
  .steps__inner,
  .possibs__inner {
    padding-left: 0;
  }
  .title::before {
    top: -70px;
    left: 0;
  }
  .features__item + .features__item {
    margin-left: 35px;
  }
  .steps {
    margin-top: 184px;
  }
  .steps__swiper,
  .check__inner,
  .possibs__title,
  .possibs__swiper,
  .feedback__title,
  .feedback__inner,
  .faq__title,
  .faq__items {
    margin-left: 0;
  }
  .steps__inner::before {
    left: -27px;
    width: 110%;
    border-radius: 0;
  }
  .steps__item-figure {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-left: 30px;
    margin-right: -1px;
  }
  .possibs {
    margin-top: 124px;
    padding: 70px 0 40px;
    background-size: cover;
  }
  .possibs__img {
    display: none;
  }
  .possibs__btn {
    margin-top: 40px;
    margin-left: 51.5%;
  }
  .feedback {
    margin-top: 224px;
  }
  .cta {
    margin-top: 78px;
    min-height: 802px;
    background-image: url("/images/cta-tablet-bg.png");
  }
  .cta__title {
    width: 427px;
  }
  .cta__text {
    display: none;
  }
  .cta__action,
  .cta__btn {
    margin-left: 226px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .footer__copyright {
    display: none;
  }
  .footer__info {
    margin-left: 170px;
  }
  .footer__link + .footer__link {
    margin-left: 90px;
  }
  .footer__text:last-child {
    margin-left: 185px;
  }
  .footer__copyright--tablet {
    margin-top: 71px;
    padding: 10px 0;
    background-color: #0b0b0c;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .header__nav,
  .header__btn-group {
    display: none;
  }
}
