@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.page--disabled {
  overflow-y: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  @extend %montserrat-regular;
  font-size: 15px;
  line-height: 1.73;
  color: $gray;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 36px 21px;
  background: radial-gradient(
    130% 360.75% at -19.8% -19.8%,
    #fcb045 17.75%,
    #fd1d1d 28.91%,
    #833ab4 55%
  );
  background-size: 200% 200%;
  box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  text-align: center;
  @extend %montserrat-bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  transition: all 0.7s;
}

.btn:hover {
  background-position: 100% 0;
  box-shadow: none;
}

.title {
  position: relative;
  max-width: 763px;
  @extend %montserratal-semibold;
  font-size: 35px;
  line-height: 1.46;
  color: $black;
  z-index: 1;
}
.title::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 62px;
  top: -3px;
  left: -77px;
  z-index: -1;
}

// Header start
.header {
  padding: 23px 0 24px;
  border-bottom: 1px solid rgba($black, 0.35);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
}
.header__list {
  display: flex;
}
.header__item + .header__item {
  margin-left: 42px;
}
.header__link {
  transition: color 0.3s ease;
}
.header__link:hover {
  color: $blue;
}
.header__btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn {
  padding: 8px 26px;
  text-align: center;
  border: 1px solid #dce0e3;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.header__btn + .header__btn {
  margin-left: 10px;
}
.header__btn:hover {
  background-color: $blue;
  color: #fff;
  border: 1px solid $blue;
}
// Header end

// Hero start
.hero {
  padding-top: 126px;
  padding-bottom: 212px;
  background-image: url('/images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero__inner {
  margin-left: 77px;
}
.hero__title {
  @extend %montserratal-medium;
  color: $black;
}
.hero__title-img {
  display: block;
  margin-bottom: -13px;
  margin-left: -44px;
}
.hero__title-text {
  display: block;
  max-width: 545px;
  font-size: 26px;
  line-height: 1.69;
  letter-spacing: 0.04em;
}
.hero__btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 37px;
}

.hero__btn-text {
  position: relative;
  display: block;
  margin-left: 57px;
  max-width: 188px;
  text-align: right;
  font-size: 11px;
  line-height: 1.36;
  color: $black;
  z-index: 1;
}
.hero__btn-text::before {
  position: absolute;
  top: -9px;
  left: -27px;
  content: '';
  width: 218px;
  height: 62px;
  background-image: url('/images/hero-span.svg');
  z-index: -1;
}
.hero__btn-text--bold {
  display: block;
  @extend %montserrat-bold;
}
// Hero end

// Features start
.features {
  margin-top: 29px;
}
.features__inner {
  padding-left: 77px;
}
.features__title::before {
  background-image: url('/images/features-title.png');
}
.features__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 106px;
}
.features__item {
  max-width: 300px;
}
.features__item + .features__item {
  margin-left: 100px;
}
.features__item-title {
  position: relative;
  @extend %montserrat-semibold;
  font-size: 20px;
  line-height: 1.45;
  color: $black;
}
.features__item-title::before {
  position: absolute;
  content: '';
  width: 128px;
  height: 102px;
  top: -80px;
  left: -20px;
  z-index: -1;
}
.features__item:first-child .features__item-title::before {
  background-image: url('/images/features-item-1.png');
}
.features__item:nth-child(2) .features__item-title::before {
  background-image: url('/images/features-item-2.png');
}
.features__item:last-child .features__item-title::before {
  background-image: url('/images/features-item-3.png');
}
.features__item-text {
  margin-top: 12px;
}
// Features end

// Steps start
.steps {
  margin-top: 103px;
}
.steps__inner::before {
  position: absolute;
  content: '';
  width: 1475px;
  height: 478px;
  bottom: 60px;
  left: 77px;
  background-color: #f1f3ff;
  border-radius: 56px 0 0 56px;
  background-size: contain;
}
@media (min-width: 1921px) {
  .steps__inner::before {
    width: 2000px;
  }
}
.steps__swiper {
  margin-top: 25px;
  margin-left: 70px;
}
.steps__inner {
  position: relative;
  overflow: visible;
  padding-left: 77px;
}
.steps__title::before {
  background-image: url('/images/steps-title.png');
}
.steps__text {
  margin-top: 12px;
  max-width: 588px;
}
.steps__item {
  padding: 30px 0;
  margin: -10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.steps__item-wrapper {
  margin-top: 40px;
  max-width: 400px;
}
.steps__number,
.steps__item-title {
  @extend %montserrat-bold;
  font-size: 26px;
  line-height: 1.46;
}
.steps__number {
  color: $blue;
}
.steps__item-title {
  margin-top: 10px;
  color: $black;
}
.steps__item-text {
  margin-top: 14px;
}
.steps__item-img {
  display: block;
  width: 570px;
  border-radius: 26px 26px 26px 26px;
  box-shadow: 0px 10px 25px rgba(153, 160, 185, 0.35);
}
.steps__item-figure {
  position: relative;
}
.steps__item-figure::before {
  position: absolute;
  content: '';
  width: 612px;
  height: 536px;
  top: -31px;
  left: -29px;
  background-image: url('/images/steps-line.svg');
  z-index: 1;
}

// Swiper start
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-controls {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 1;
}
.swiper-pagination {
  position: static;
  display: inline;
}
.swiper-pagination-bullet {
  width: 44px;
  height: 44px;
  text-align: center;
  @extend %montserrat-bold;
  line-height: 44px;
  font-size: 15px;
  color: $gray;
  opacity: 1;
  background: #fff;
  box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  transition: all 0.3s;
}
.swiper-pagination-bullet:hover {
  background: $light-gray;
  box-shadow: 0px 2px 5px rgba(158, 153, 185, 0.25);
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  color: #fff;
  background: $blue;
  box-shadow: none;
}
.swiper-button-prev,
.swiper-button-next {
  position: static;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
  transition: all 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: $blue;
  box-shadow: none;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  font-size: 0;
}
.swiper-button-prev:hover img,
.swiper-button-next:hover img {
  filter: invert(100%);
}
// Swiper & Steps end

// Check start
.check {
  margin-top: 125px;
}
.check__inner {
  margin-left: 77px;
  padding: 159px 140px 159px 107px;
  background-image: url('/images/check-bg.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.check__title {
  margin: 0 auto;
  max-width: 652px;
  text-align: center;
  font-size: 26px;
  line-height: 1.46;
}
.check__title--purple {
  color: $purple;
}
.check__inner--done {
  display: none;
}
.check__process {
  display: none;
}
.check__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}
.check__form-wrapper {
  position: relative;
}
.check__loader--purple {
  position: absolute;
  display: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.check__loader--gray {
  margin: -12px;
  padding-right: 8px;
}
.check__loader--visible {
  display: block;
}
.check__loader img {
  display: block;
}
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  padding: 16px;
  width: 399px;
  min-height: 56px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  @extend %montserrat-semibold;
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.tags__item {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  @extend %roboto-regular;
  background-color: $purple;
  color: #fff;
  line-height: 1;
  border-radius: 5px;
}
.tags__btn {
  margin-left: 8px;
  cursor: pointer;
}
.tags__btn img {
  display: block;
}
.check__input {
  border: none;
  flex-grow: 1;
  @extend %montserrat-semibold;
  outline: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.check__input::placeholder {
  @extend %montserrat-regular;
  color: $gray;
  transition: all 0.3s;
}
.check__input:hover::placeholder {
  color: $black;
}
.check__input:focus::placeholder {
  opacity: 0;
}
.check__label {
  position: absolute;
  display: none;
  bottom: -38px;
  left: 12px;
  color: $black;
}
.check__label--visible {
  display: block;
}
.check__results-wrapper {
  position: absolute;
  top: calc(100% + 8px);
  padding: 10px 16px;
  display: none;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 10px rgba(158, 153, 185, 0.25);
}
.check__results-wrapper--visible {
  display: block;
}
.check__result {
  display: none;
  padding: 12px 0;
  line-height: 25px;
}
.check__result--visible {
  display: block;
}
.check__result--searching.check__result--visible {
  display: flex;
}
.check__result--searching {
  align-items: flex-start;
  justify-content: flex-start;
}
.found__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}
.found__item--add {
  opacity: 0.7;
}
.found__item--add .found__btn {
  opacity: 1;
  background-color: #dce0e3;
  color: #93999e;
}
.found__item + .found__item {
  margin-top: 12px;
}
.found__img {
  width: 46px;
  border-radius: 50%;
}
.found__text {
  margin-left: 10px;
}
.found__login {
  @extend %roboto-medium;
  color: $black;
  transition: all 0.3s;
}
.found__name {
  @extend %roboto-regular;
  font-size: 13px;
  line-height: 1.46;
}
.found__item:hover .found__login {
  color: $blue;
}
.found__btn {
  opacity: 0;
  padding: 6px 10px;
  margin-left: auto;
  background: $blue;
  border-radius: 10px;
  border: none;
  @extend %roboto-regular;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.found__item:hover .found__btn {
  opacity: 1;
}
.check__btn {
  margin-left: 20px;
  padding: 17px 38px;
  width: 173px;
  height: 56px;
  @extend %montserrat-bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: #fff;
  background: radial-gradient(
    130% 360.75% at -19.8% -19.8%,
    #fcb045 17.75%,
    #fd1d1d 28.91%,
    #833ab4 55%
  );
  background-size: 200% 200%;
  transition: all 0.7s;
  box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.check__btn:disabled {
  background: #d9ccde;
  box-shadow: none;
  color: $gray;
  cursor: not-allowed;
}
.check__btn:disabled:hover {
  background: #d9ccde;
}
.check__btn:hover {
  background-position: 100% 0;
  box-shadow: none;
}
// Check end

// Possibs start
.possibs {
  margin-top: 109px;
  background-image: url('/images/possibilities-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 1950px) {
  .possibs {
    padding: 40px 0;
    background-image: none;
    background-color: #fff3ef;
  }
}
.possibs__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 77px;
}
.possibs__title {
  margin-left: 77px;
}
.possibs__title::before {
  background-image: url('/images/possibilities-title.png');
}
.possibs__swiper {
  margin-left: 50px;
}
.possibs__img {
  display: block;
  width: 289px;
}
.possibs__items {
  margin-top: 56px;
  column-count: 2;
  column-gap: 30px;
}
.possibs__item {
  break-inside: avoid-column;
}
.possibs__item + .possibs__item {
  margin-top: 34px;
}
.possibs__item-title {
  position: relative;
  @extend %montserrat-semibold;
  color: $black;
  font-size: 20px;
  line-height: 1.45;
}
.possibs__item-text {
  margin-top: 12px;
}
.possibs__item--soon {
  position: absolute;
  top: -7px;
  right: 0;
  @extend %montserrat-regular;
  color: $purple;
  font-size: 15px;
}
.possibs__btn {
  margin-top: 68px;
}
// Possibs end

// Feedback start
.feedback {
  margin-top: 143px;
}
.feedback__title,
.feedback__inner {
  margin-left: 77px;
}
.feedback__inner {
  position: relative;
  margin-top: 59px;
}
.feedback__title::before {
  background-image: url('/images/feedback-title.png');
}
.feedback__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feedback__text {
  margin-top: 15px;
  margin-left: 30px;
  max-width: 700px;
}
.feedback__author-name {
  @extend %montserrat-medium;
  font-size: 26px;
  line-height: 1.46;
  color: $black;
}
.feedback__author-text {
  margin-top: 14px;
}
.feedback__figure {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
}
.feedback__author-img {
  width: 66px;
  margin-top: -25%;
}
.feedback__controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.feedback-button-prev,
.feedback-button-next {
  position: static;
  display: inline-block;
  padding: 16px 17px;
  width: 44px;
  height: 44px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  background: #ebeff3;
  transition: all 0.3s;
  cursor: pointer;
}
.feedback-button-prev {
  padding-right: 19px;
}
.feedback-button-next {
  margin-left: 12px;
  padding-left: 19px;
}
.feedback-button-prev:hover,
.feedback-button-next:hover {
  background-color: $blue;
}
.feedback-button-prev:hover img,
.feedback-button-next:hover img {
  filter: invert(100%);
}
// Feedback end

// FAQ start
.faq {
  margin-top: 143px;
}
.faq__title,
.faq__items {
  margin-left: 77px;
}
.faq__title::before {
  background-image: url('/images/faq-title.png');
}
.faq__items {
  margin-top: 30px;
}
.faq__item + .faq__item {
  margin-top: 20px;
}
.faq__question {
  position: relative;
  padding: 18px 100px 18px 40px;
  width: 100%;
  background-color: $light-gray;
  border-radius: 24px;
  @extend %montserrat-medium;
  font-size: 20px;
  line-height: 1.45;
  color: $black;
  cursor: pointer;
  transition: all 0.3s;
}
.faq__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 44px;
  height: 44px;
  right: 30px;
  top: 10px;
  border: 1px solid #c6cbd0;
  border-radius: 50%;
  transition: all 0.3s;
}
.faq__item.is-active .faq__btn {
  transform: rotate(180deg);
}
.faq__question:hover {
  color: $blue;
}
.faq__btn svg path {
  transition: all 0.3s;
}
.faq__question:hover .faq__btn svg path {
  fill: $blue;
}
.faq__question:hover .faq__btn {
  border: 1px solid $black;
}
.faq__answer {
  padding-left: 40px;
  padding-right: 114px;
  color: $black;
}
.faq__answer-text {
  padding-top: 20px;
}
// FAQ end

// CTA start
.cta {
  margin-top: 106px;
  padding-bottom: 240px;
  min-height: 890px;
  background-image: url('/images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.cta__text {
  padding-top: 50px;
  margin-left: 118px;
  color: $black;
}
.cta__title {
  margin-top: 301px;
  margin-left: 43px;
}
.cta__action,
.cta__btn {
  margin-left: 270px;
}
.cta__action {
  margin-top: 3px;
  max-width: 373px;
  @extend %montserratal-medium;
  font-size: 26px;
  line-height: 1.46;
  color: #fff;
}
.cta__btn {
  margin-top: 37px;
  background: radial-gradient(100% 207.05% at 0% 0%, #ffffff 0%, #ffbf65 50%);
  background-size: 200% 200%;
  transition: all 0.7s;
  color: $black;
}
.cta__btn:hover {
  background-position: 100% 0;
  box-shadow: none;
}
// CTA end

// Footer start
.footer {
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: $black;
}
.footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__info {
  margin-left: 100px;
}
.footer__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__row + .footer__row {
  margin-top: 7px;
}
.footer__link {
  @extend %montserrat-medium;
  font-size: 13px;
  line-height: 2.15;
  color: #fff;
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: $blue;
}
.footer__link + .footer__link {
  margin-left: 60px;
}
.footer__copyright {
  margin-left: 154px;
  @extend %montserrat-medium;
  font-size: 13px;
  line-height: 2.15;
}
.footer__text {
  font-size: 10px;
  line-height: 2;
}
.footer__text:last-child {
  margin-left: 123px;
}
.footer__address {
  font-style: normal;
}
// Footer end

// Modals start
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#212224, 0.8);
  z-index: 4;
  cursor: pointer;
}
.overlay--visible {
  display: block;
}
.modal {
  position: fixed;
  top: 100px;
  left: 50%;
  display: none;
  width: 420px;
  max-width: 100%;
  padding: 40px;
  padding-top: 26px;
  background: #ffffff;
  border-radius: 12px;
  @extend %roboto-regular;
  color: $black;
  font-size: 15px;
  transform: translateX(-50%);
  z-index: 5;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .modal {
    top: 50px;
  }
}
.modal__register,
.modal__login,
.modal__password,
.modal__feedback {
  display: none;
  position: relative;
}
.modal--visible {
  display: block;
}
.modal__title {
  @extend %roboto-bold;
  font-size: 21px;
  line-height: 1.24;
}
.modal__text {
  margin-top: 18px;
}
.form {
  margin-top: 10px;
}
.form--login {
  margin-top: 18px;
}
.form__row + .form__row {
  margin-top: 4px;
}
.form__label {
  display: block;
  font-size: 11px;
  color: $gray;
}
.form__input,
.form__textarea {
  margin-top: 4px;
  padding: 15px;
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #dce0e3;
  border-radius: 5px;
  outline: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: $black;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: $black;
}
.form__textarea {
  height: 120px;
  resize: none;
}
.form__submit-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}
.form__btn {
  padding: 12px 24px;
  width: 195px;
  height: 56px;
  background: #397dff;
  border-radius: 8px;
  color: #fff;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.form__btn:hover {
  background-color: rgba($blue, 0.8);
}
.form__btn--login,
.form__btn--feedback {
  width: 160px;
}
.form__btn--password {
  width: 201px;
}
.form__link {
  margin-left: 20px;
  color: $blue;
  cursor: pointer;
  font-size: 13px;
}
.social {
  margin-top: 36px;
}
.social__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 14px;
}
.social__img {
  display: block;
}
.form__item + .form__item {
  margin-left: 36px;
}
.close__btn {
  position: absolute;
  right: -26px;
  top: -14px;
  cursor: pointer;
}
.form__row--password {
  position: relative;
}
.form__label--password {
  position: absolute;
  display: block;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
}
.form__label--password img {
  display: block;
}
.see-password.hidden,
.hide-password.hidden {
  display: none;
}
// Modals end

@import 'media';
