@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  @extend %montserrat-regular;
  font-size: 15px;
  line-height: 1.73;
  color: $gray;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 36px 21px;
  background: radial-gradient(
    130% 349.75% at -19.8% -19.8%,
    #fcb045 17.75%,
    #fd1d1d 42.91%,
    #833ab4 86.54%
  );
  box-shadow: 0px 15px 25px rgba(88, 57, 255, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  text-align: center;
  @extend %montserrat-bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
}

.title {
  position: relative;
  max-width: 763px;
  @extend %montserratal-semibold;
  font-size: 35px;
  line-height: 1.46;
  color: $black;
}
.title::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 62px;
  top: -3px;
  left: -77px;
  z-index: -1;
}

.header {
  padding: 23px 0 24px;
  border-bottom: 1px solid rgba($black, 0.35);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
}
.header__list {
  display: flex;
}
.header__item + .header__item {
  margin-left: 42px;
}
.header__link {
  transition: color 0.3s ease;
}
.header__link:hover {
  color: $blue;
}
.header__btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn {
  padding: 8px 26px;
  text-align: center;
  border: 1px solid #dce0e3;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.header__btn + .header__btn {
  margin-left: 10px;
}
.header__btn:hover {
  background-color: $blue;
  color: #fff;
  border: 1px solid $blue;
}
.hero {
  padding-top: 126px;
  padding-bottom: 212px;
  background-image: url('/images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero__inner {
  margin-left: 77px;
}
.hero__title {
  @extend %montserratal-medium;
  color: $black;
}
.hero__title-img {
  display: block;
  margin-bottom: -13px;
  margin-left: -44px;
}
.hero__title-text {
  display: block;
  max-width: 545px;
  font-size: 26px;
  line-height: 1.69;
  letter-spacing: 0.04em;
}
.hero__btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 37px;
}

.hero__btn-text {
  position: relative;
  display: block;
  margin-left: 57px;
  max-width: 188px;
  text-align: right;
  font-size: 11px;
  line-height: 1.36;
  color: $black;
  z-index: 1;
}
.hero__btn-text::before {
  position: absolute;
  top: -9px;
  left: -27px;
  content: '';
  width: 218px;
  height: 62px;
  background-image: url('/images/hero-span.svg');
  z-index: -1;
}
.hero__btn-text--bold {
  display: block;
  @extend %montserrat-bold;
}
.features {
  margin-top: 29px;
}
.features__inner {
  padding-left: 77px;
}
.features__title::before {
  background-image: url('/images/features-title.png');
}
.features__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 106px;
}
.features__item {
  max-width: 300px;
}
.features__item + .features__item {
  margin-left: 100px;
}
.features__item-title {
  position: relative;
  @extend %montserrat-semibold;
  font-size: 20px;
  line-height: 1.45;
  color: $black;
}
.features__item-title::before {
  position: absolute;
  content: '';
  width: 128px;
  height: 102px;
  top: -80px;
  left: -20px;
  z-index: -1;
}
.features__item:first-child .features__item-title::before {
  background-image: url('/images/features-item-1.png');
}
.features__item:nth-child(2) .features__item-title::before {
  background-image: url('/images/features-item-2.png');
}
.features__item:last-child .features__item-title::before {
  background-image: url('/images/features-item-3.png');
}
.features__item-text {
  margin-top: 12px;
}
.steps {
  margin-top: 103px;
}
.steps__inner {
  padding-left: 77px;
}
.steps__title::before {
  background-image: url('/images/steps-title.png');
}
.steps__text {
  margin-top: 12px;
  max-width: 588px;
}
.steps__swiper {
  margin-top: 32px;
}
.steps__number {
  @extend %montserrat-bold;
}
@import 'media';
