%roboto-regular {
  font-family: 'Roboto-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%roboto-medium {
  font-family: 'Roboto-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}
%roboto-bold {
  font-family: 'Roboto-Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
}
%montserrat-regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%montserrat-medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}
%montserrat-semibold {
  font-family: 'Montserrat-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}
%montserrat-bold {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
%montserrat-extrabold {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: 800;
}
%montserratal-medium {
  font-family: 'MontserratAlternates-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}
%montserratal-semibold {
  font-family: 'MontserratAlternates-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
}
